*.ilk
*.dll
*.lib
*.pdb
*.exp
*.exe
*.rdxasm
*.pdf
*.cache
*.rdxil
*.rdxobj
*.obj
*.log
*.tlog
*.user
*.manifest
*.idb
*.lastbuildstate
*.unsuccessfulbuild
*.xil
*.ipch
*.sdf
src/exported
